# Node modules
node_modules/

# Build output
/build

# Local env files
.env
.env.local
.env.development
.env.test
.env.production

# Mac system files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage (from testing)
coverage/

# Optional lock files
package-lock.json
yarn.lock

# GitHub Pages deploy branch (optional if you want to ignore it locally)
gh-pages

# ESLint cache
.eslintcache

# VSCode settings
.vscode/
``
